* {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

.section {
	width: 70%;
	margin: 0 auto;
}

.contacts {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.address {
	width: 15%;
}

.main-p {
	margin-bottom: 5%;
}

.call {
	width: 20%;
	text-align: center;
}

.order {
	background-color: dodgerblue;
	padding: 5% 10%;
	border-radius: 25px;
	border: 0;
	color: #fff;
	text-transform: uppercase;
	box-shadow: 2px 5px 20px dodgerblue;
	margin-top: 3%;
	cursor: pointer;
	transition: 0.2s;
}

.order:hover {
	background-color: rgb(23, 124, 187);
}

.nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 70%;
	margin: 1% 0 0 3%;
}

.nav a {
	text-decoration: none;
	color: #000;
	transition: 0.2s;
	width: 103px;
	text-align: center;
}

.active {
	background-color: dodgerblue;
	padding: 1.5% 0;
	text-align: center;
	color: #fff !important;
	border-radius: 5px;
}

.nav a:hover {
	background-color: dodgerblue;
	padding: 1.5% 0;
	text-align: center;
	color: #fff !important;
	border-radius: 5px;
}

.section-1 {
	margin-top: 10%;
	display: flex;
}

.card {
	width: 19%;
	display: flex;
	flex-direction: column;
}

.card h1 {
	text-transform: uppercase;
	font-weight: 500;
}

.card img {
	width: 70%;
	margin-left: auto;
	margin-bottom: 10%;
}

.old-price {
	text-decoration: line-through;
	color: red;
}

.price {
	text-transform: uppercase;
	font-size: 20px;
}

.form {
	margin-left: 20%;
	display: flex;
	flex-direction: column;
	height: 200px;
	justify-content: space-around;
}

.form input {
	width: 200px;
	height: 40px;
	border-radius: 25px;
	border: 1px solid gray;
	outline: 0;
	padding-left: 10%;
}

.form input[placeholder='Текст сообщения'] {
	height: 40%;
}
